<%- include('./includes/start.ejs') %>

<%- include('./includes/nav.ejs') %>

<div class="page-wrap d-flex flex-row align-items-center" style="min-height: 80vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">500</span>
                <div class="mb-2 lead">Internal Server Error!</div>
                <div class="mb-4 lead">if the issue still persists, please send an email to admin@example.com.</div>
                <a href="/" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>

<%- include('./includes/end.ejs') %>