<%- include('./includes/start.ejs') %> <%- include('./includes/nav.ejs') %>

<header>
  <div class="overlay">
    <div class="content text-center">
      <p class="display-4">MyShop - Best Products Ever !</p>
      <a class="btn btn-primary btn-lg" href="/products">SHOP NOW</a>
    </div>
  </div>
</header>

<%- include('./includes/end.ejs') %>
